.product-card-container {
    min-height: calc(100vh - 108px);
    padding: 0px;

    .product-card-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
        padding: 30px 20px;
    
        .product-card {
            width: 32%;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            overflow: hidden;
    
            @media screen and (max-width: 768px){
                width: 49%;
            }
    
            @media screen and (max-width: 480px) {
                width: 100%;
            }
    
            &__thumbnail {
                max-width: 100%;
                aspect-ratio: 16/9;
                object-fit: cover;
                border-bottom: 1px solid #ccc;
            }
    
            &__desc {
                padding: 15px;
    
                & > :not(:last-child) {
                    margin-bottom: 15px;
                }
    
                &-btn {
                    padding: 5px 10px;
                    border-radius: 5px;
                    border: none;
                    background-color: #333;
                    color: #fff;
                    cursor: pointer;
                    
                    &.disabled {
                        background-color: #777;
                        // pointer-events: none;
                    }
                }
            }
        }
    }
}